{% extends 'producto/index.html' %}

{% block content %}
    <h2>Detalle de Producto</h2>
    <ul>
        <li>Nombre: {{ object.nombre }}</li>
        <li>Categoría: {{ object.categoria|default:"-" }}</li>
        <li>Precio: ${{ object.precio }}</li>
        <li>Stock: {{ object.stock }}</li>
        <li>Disponible: {% if object.disponible %}Sí{% else %}No{% endif %}</li>
        {% if object.descripcion %}
            <li>Descripción: {{ object.descripcion }}</li>
        {% else %}
            <li>Descripción: -</li>
        {% endif %}
        <li>Creado: {{ object.creado }}</li>
        <li>Actualizado: {{ object.actualizado }}</li>
    </ul>

    <a href="{% url 'producto:producto_list' %}">Volver</a>
    <a href="{% url 'core:index' %}">Inicio</a>
{% endblock content %}