{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<!-- Heading Row-->
<div class="row gx-4 gx-lg-5 align-items-center my-5">
    <div class="col-lg-7">
        <img class="img-fluid rounded mb-4 mb-lg-0" src="{% static 'core/img/caja-pandora.jpg' %}" alt="La Caja de Pandora" />
    </div>
    <div class="col-lg-5">
        <h1 class="font-weight-light">La Caja de Pandora</h1>
        <p>Bienvenido a nuestra tienda. Aquí encontrarás una variedad de productos misteriosos y fascinantes. Cada artículo tiene una historia que contar. ¡Explora nuestro catálogo y descubre tesoros ocultos!</p>
        <a class="btn btn-primary" href="{% url 'producto:index' %}">Ver Productos</a>
    </div>
</div>

<!-- Call to Action-->
<div class="card text-white bg-secondary my-5 py-4 text-center">
    <div class="card-body">
        <p class="text-white m-0">¡Oferta especial! Por tiempo limitado, todos los envíos son gratuitos. No te pierdas esta oportunidad única.</p>
    </div>
</div>

<!-- Content Row-->
<div class="row gx-4 gx-lg-5">
    {% include 'card.html' with title="Misterios Antiguos" text="Descubre artefactos de civilizaciones perdidas y secretos olvidados en el tiempo." %}
    {% include 'card.html' with title="Tesoros Encantados" text="Objetos con propiedades mágicas y auras misteriosas que te transportarán a otros mundos." %}
    {% include 'card.html' with title="Curiosidades Únicas" text="Encuentra artículos extraños y maravillosos que no verás en ningún otro lugar." %}
</div>

{% endblock content %}